html{
    height:100%;
}

body{
  display : table;
  width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color:white;
}

.header{
	background-color: white;
	color: white;
  margin: 50px;
}

header .Menu{
  width: auto;
  margin: 0 auto;
  position: relative;
  background-color: white;
  color: white;
}

.Menu .logo{
  float: left;
  margin-top: 20px;
  margin-left: 15px;
}

.Menu .navbar{
  float: right;
  	font-family: 'Roboto Slab', serif;
  margin-top: 40px;
}

.Menu .navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.Menu .navbar ul li{
  display: inline;
  margin: 0 25px;
}

.Menu .navbar ul li a{
  color: #708D23;
  text-decoration: none;
}

.Menu .navbar ul li a:hover{
  cursor: pointer;
  color: black;
}

.Menu .navbar ul li a:active{
  color: dimgray;
}

.main{
    position: relative;
    margin-top: 100px;
    margin-bottom: 60px;
    min-height: 1080px;
    background-color: #D0D1D3;
    border-style: hidden;
}

.Register{
  position: absolute;
  margin: 50px;
  height: 700px;
  width: 300px;
  text-align: left;
}

fieldset{
  width:250px;
  margin: 50px;
}
