/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Bad Script', cursive;
		font-family: 'Pacifico', cursive;
*/
/*----------------header----------------*/
header {
  background-color: white;
  position: fixed;
  width: 100%;
  overflow: auto;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
}

header .Menu {
  width: auto;
  margin: 0 auto;
  position: relative;
  background-color: white;
  color: white;
  overflow: auto;
}

header .Menu .logo {
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  background-image: url("Logo/logo.png");
  background-size: cover;
  padding: 50px 45px;
  border-radius: 5px;
}

.Menu .logo {
  float: left;
  margin-top: 20px;
  margin-left: 15px;
  max-height: 50px;
}

.Menu .titleC {
  position: relative;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.titleC {
  font-size: 30px;
  -webkit-animation-name: titlemoving;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  animation-name: titlemoving;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes titlemoving {
  from {
    color: #AA3A38;
  }

  to {
    color: #CD9D2D;
  }
}

/* Standard syntax */
@keyframes titlemoving {
  from {
    color: #AA3A38;
  }

  to {
    color: #CD9D2D;
  }
}

.Menu .navbar {
  float: right;
  font-family: 'Roboto Slab', serif;
  margin-top: 40px;
}

.Menu .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Menu .navbar ul li {
  display: inline;
  margin: 0 25px;
}

.Menu .navbar ul li a {
  color: #243B55;
  text-decoration: none;
}

.Menu .navbar ul li a:hover {
  cursor: pointer;
  color: black;
}

.Menu .navbar ul li a:active {
  color: dimgray;
}

/*----------------footer----------------*/
footer {
  width: 100%;
  height: 60px;
  position: absolute;
  background-color: #CD9D2D;
  bottom: 0;
}

footer .align {
  float: right;
  margin-left: auto;
  margin-right: ;
  width: 900px;
}

footer .align li {
  align-items: center;
  display: inline;
  margin-right: 100px;
  margin-left: 100px;
}

footer li a {
  padding: 10px 15px;
  color: #CD9D2D;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #AA3A38;
  font-size: 10px;
  border-radius: 4px;
}

footer li a:active {
  color: dimgray;
}

footer .image {
  position: absolute;
  width: 80px;
  height: 50px;
  margin-top: 10px;
}

footer .align .imageL {
  position: relative;
  width: 36px;
  height: 36px;
  margin-left: 10px;
  border-radius: 50px;
  margin-top: 5px;
}

/*----------------index----------------*/
body .background {
  background-image: url("Ceramics/Jugs.JPG");
  background-repeat: no-repeat;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.background .HomeMenu {
  width: auto;
  margin: 0 auto;
  position: relative;
}

.background .HomeMenu .logo {
  float: left;
  margin-top: 40px;
  margin-left: 15px;
  background-image: url("Logo/logo.png");
  background-size: cover;
  padding: 50px 45px;
  border-radius: 5px;
}

.background .HomeMenu .navbar {
  float: right;
  margin-top: 30px;
}

.background .HomeMenu .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.background .HomeMenu .navbar ul li {
  display: inline;
  margin: 0 15px;
}

.background .HomeMenu .navbar ul li a {
  color: white;
  padding: 5px 15px;
  background-color: #708D23;
  border-radius: 12px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

.background .HomeMenu .navbar ul li a:active {
  color: dimgray;
}

.background .Presentation {
  float: right;
  margin-right: 0%;
  margin-top: 230px;
  padding: 80px 100px;
  margin-left: 350px;
}

.background .Presentation .Intro {
  color: white;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Luckiest Guy', cursive;
  background-size: auto;
}

.background .Presentation .BtnMore {
  text-align: right;
  color: #FFF;
  margin-top: 30px;
}

.background .Presentation .BtnMore a {
  padding: 18px 26px;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #708D23;
  font-size: 16px;
  border-style: double;
  border-radius: 8px;
}

.background .Presentation .BtnMore a:active {
  color: dimgray;
}

.cheat {
  width: 100%;
  height: 60px;
  position: absolute;
  background-color: #CD9D2D;
  bottom: 0;
}

.cheat .align {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 499px;
}

.cheat .align li {
  align-items: center;
  display: inline;
  margin: 10px 100px;
}

.cheat li a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #708D23;
  font-size: 10px;
  border-radius: 4px;
  margin-top: 40px;
}

.cheat li a:active {
  color: dimgray;
}

.cheat .image {
  position: absolute;
  width: 80px;
  height: 40px;
  margin-top: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
  background-color: #E1E1E1;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*----------------main_of_all_page----------------*/
html {
  height: 105%;
}

body {
  display: table;
  width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #D0D1D3;
}

.main {
  position: relative;
  margin-top: 120px;
  margin-bottom: 60px;
  min-height: 1300px;
  height: 100%;
  text-align: center;
  background: #141E30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-style: hidden;
}

/*----------------product_page----------------*/
.Product img {
  text-align: center;
  height: 400px;
  width: 500px;
  margin: 50px;
  border-radius: 20px;
  float: left;
}

.ProductName {
  display: inline-grid;
}

.main .ProductName h1 {
  position: relative;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: #708D23;
  float: right;
  margin: 50px;
  font-size: 18px;
}

.main .ProductName p {
  position: relative;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: #708D23;
  float: right;
  font-size: 18px;
  height: 250px;
  width: 300px;
}

.Add {
  position: relative;
  margin-top: 100px;
}

.Add button {
  width: 150px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

/*----------------product_list----------------*/
.Search {
  position: relative;
  min-height: 100%;
  text-align: center;
}

.Search .container {
  overflow: hidden;
}

.Search .container .titleimg {
  padding: 10px 20px;
  background-color: #DCB945;
  margin-bottom: 15px;
  border-radius: 5px;
}

.Search .container .titleimg a {
  text-decoration: none;
  color: #AA3A38;
}

.titleimg {
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Search .filterDiv {
  display: none;
  /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.Search .show {
  display: inline-block;
}

/* Style the buttons */
.Search .btn {
  border: none;
  padding: 18px 24px;
  background-color: whitesmoke;
  color: #AA3A38;
  cursor: pointer;
  margin-top: 15px;
  margin: 4px;
  background-color: #DCB945;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

.Search .btn:hover {
  cursor: pointer;
  color: black;
}

.Search .btn.active {
  background-color: #AA3A38;
  color: #DCB945;
}

.Search .imgProduct {
  text-align: center;
  height: 300px;
  width: 400px;
  margin: 50px;
  margin-bottom: 15px;
  margin-top: 30px;
  border-radius: 20px;
}

/*----------------payment_page----------------*/
.checkout {
  text-align: left;
  font-family: 'Roboto Slab', serif;
  display: inline;
}

.listof fieldset {
  width: 700px;
  height: 400px;
}

.selectProduct {
  position: relative;
  display: inline;
}

.imgSelectProduct {
  height: 50px;
  width: 50px;
}

.btnBuy {}

/*----------------contact----------------*/
form {
  font-family: 'Roboto Slab', serif;
}

input[type=submit] {
  width: 150px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

label {
  width: 30px;
  display: block;
}

textarea {
  padding: 0 20px 20px 20px;
  margin-bottom: 10px;
  border: 1px double #DF3F3F;
}

textarea, placeholder {
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
}

input, placeholder {
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
}

input, textarea {
  background-color: #D9E9FA;
}

h1 {
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  color: #708D23;
}

/*----------------About us----------------*/
.main iframe {
  float: left;
  margin-left: 20px;
}

.AboutIntro p {
  position: relative;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  margin-top: 50px;
}

.main .mapouter {
  float: right;
  margin-right: 20px;
}

/*----------------header2----------------*/
/*----------------footer2----------------*/
/*----------------main2-------------------*/
/*----------------product_list2----------------*/